/* edit css here */
body {
  background: #fafafa;
  color: #333333;
  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}
.sticky{
  font-size: 10px;
  position: sticky;
  top: 10%;
  overflow: auto;
  max-height:1500px;
  position: -webkit-sticky;
  margin-bottom: 500px;
}
#searchbox{
  margin-top: 20px;
  width: 90%;
}
#Menubtn {
  width: 90%;
  margin-top: 10px;

}
.searchfield {
  padding: 6px;
  font-size: 17px;
  margin-bottom: 5px;
}
button:focus {
  outline:none !important;
}

.button {
  background-color: #5F789A;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom:1px;
  margin-top:0px;
  cursor: pointer;
  width:100%;
}
#Sub{
  background-color: #86a1c9;
  padding: 10px 48px;
  text-align: left;
  font-size: 13px;
  width:100%;
}
#SubSub{
  background-color: #87a7d3;
  padding: 8px 64px;
  text-align: left;
  font-size: 10px;
  width:100%;
}
#Menubtn{
  background-color: grey;
  text-align: left;
  font-size: 12px;
}
button:hover{
  color: black;
}
.button:active{
  background-color: #a2b8d6;
}
#Sub:active{
  background-color: #a2b8d6;
}
#SubSub:active{
  background-color: #a2b8d6;
}
#deletebtn{
  padding: 0px;
  font-size: 10px;
}
.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}
